{# templates/includes/footer.html.twig #}
<style>
    .copyright-wrapper {
        position: fixed;     /* Fixée à l'écran */
        bottom: 0;           /* Collée en bas */
        left: 0;
        width: 100%;         /* Prend toute la largeur */
        text-align: center;  /* Centré */
        background: #fff;    /* Optionnel, pour lisibilité */
        padding: 10px 0;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optionnel, petit effet */
    }

</style>
<footer class="footer footer-style-1" style="padding-top: 0px;">
    <div class="">
        <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
            <p>Made with  <i style="color:red;" class="bi bi-heart-fill"></i>  DTF Optimazer</p>
        </div>
    </div>
</footer>
