html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: rgba(240, 240, 240, 0.7);
    background-image: radial-gradient(#ccc 1px, transparent 1px);
    background-size: 20px 20px;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}


.favorite-color {
    background: #ffc107;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.sheet-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #374151;
    margin-bottom: 0.5rem;
}

.canvas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.support-presentation {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 25px 35px;
    text-align: center;
    display: inline-block;
}

.support-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.support-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}
.config-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.config-title {
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #1f2937;
}

.form-label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #374151;
}

.input-small {
    width: 70px;
    text-align: center;
}

.btn-download {
    border-radius: 12px;
    font-weight: 600;
    padding: 0.75rem;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
}

.btn-download:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(59, 130, 246, 0.3);
}

.select2-search__field {
    padding-left: 1rem !important;
    font-weight: 900;
}
.animated-icon {
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.animated-icon:hover {
    transform: scale(1.3) rotate(10deg); /* grandit et tourne un peu */
    color: #0d6efd; /* change de couleur au hover */
}